<div class="card w-96 bg-base-100 shadow-xl">
  <figure>
    <%#= image_tag course.image %>
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      <%= course.title %>
    </h2>
    <%= course.user.name %>
  </div>
</div>
